.sign-in-form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:200px;
    height:300px;
  }
  
  .sign-in-form h2 {
    margin-top: 0;
    margin-left:150px;


  }
  
  .sign-in-form label {
    display: block;
    margin-bottom: 10px;
    margin-left:40px;
  }
  
  .sign-in-form input[type="email"],
  .sign-in-form input[type="password"] {
    width: 70%;
    margin-left:40px;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius:20px;
    border: 1px solid #ccc;
  }
  
  .sign-in-form button[type="submit"] {
    width: 35%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    margin-left:130px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .sign-in-form button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .error {
    position: absolute;
    color: red;
    margin-top:100px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:100px;
    width:400px
    
  }